
#gallery{
    background-color: #000000;
    padding-top: 5vw;
    
    
}
#gallery h1{
    font-family: 'Avengeance Heroic Avenger', sans-serif;
    color: #00acee;
    font-size: 24px;
    text-align: center;
    margin-top: 8px;
    display: flex;
}
#theteam{
    color: white !important;
    font-size: 32px !important;
    text-align: center !important;
    width: 100% !important;
    margin-bottom: 16px;
    font-family: 'Avengeance Heroic Avenger', sans-serif;
    color: #00acee;
    font-size: 24px;
    text-align: center;
    margin-top: 8px;
}
.theteam span{
    color: blue;
}
.gallery h1 span{
    color: blue !important;
    font-size: 16px;
}
#gallery .item{
    padding: 16px 16px;
    margin: 0 16px;
    height: fit-content;
    background-color: rgb(219, 219, 219);
}
.icontw{
    text-align: center;
    font-size: 32px;

}
#faq{
    
    background-image: url("../public/ARKA.jpg");

}
#gallery h1 img{
    margin-right: auto;
}
#gallery a h1{
    margin-top: 16px;
}